<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="applicable-device" content="pc">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/static/style/style.css"  />
    <link rel="shortcut icon" href="" />
    <script src="__PUBLIC__/static/style/jquery.min.js"></script>
    <title>美文网_美文欣赏_经典美文_励志文章_优美散文_意空间阅读网</title>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='https://api.w.org/' href='' />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- 跳出 -->
    <script type="text/javascript">/*frame*/ if (top.location != self.location) { top.location=self.location } </script>

</head>
<body class="home blog">
<!--导航信息-->
<include file="Public/header"/>
<!--导航end-->
<div class="wrapper">
    <div class="content">        <!-- 分享代码 -->
        <div class="baidufenxiang" style="overflow:auto;margin-bottom:10px"><!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
            <a class="bds_bdhome"></a>
            <a class="bds_renren"></a>
            <a class="bds_kaixin001"></a>
            <a class="bds_douban"></a>
            <a class="bds_youdao"></a>
            <a class="bds_sqq"></a>
            <a class="bds_hi"></a>
            <a class="bds_baidu"></a>
            <a class="bds_qq"></a>
            <a class="bds_tqq"></a>
            <a class="bds_tsina"></a>
            <a class="bds_qzone"></a>
            <a class="bds_mshare"></a>
            <span class="bds_more"></span>
            <a class="shareCount"></a>
        </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=53164" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
            document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
        <!-- Baidu Button END --></div><!-- 分享代码 -->

        <ul class="excerpt thumb">
            <volist name="list" id="vo">
                <li>
                    <a href="{:U('article/index',array('id'=>$vo[id]))}" class="pic">
                        <img <if condition="$vo.pic neq ''">src="__ROOT__{$vo.pic}"</if> alt="{$vo.title}" /></a>
                    <h2 class="excerpt-tit">
                    <a href="{:U('article/index',array('id'=>$vo[id]))}" >{$vo.title}</a>
                </h2>
                    <p class="excerpt-desc">{$vo.desc}...</p>
                    <div class="excerpt-time">{$vo.createtime|date="m-d",###}</div>
                </li>
            </volist>

        </ul>

        <div class="paging">{$pages}</div>

    </div>
    <include file="Public/right"/>
</div>

<include file="public/footer"/>
<!-- 百度自动推送 -->
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>

<!-- Dynamic page generated in 0.992 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-08-23 19:32:28 -->

<!-- super cache -->